<h1 mat-dialog-title>{{headerValue}}</h1>

<div mat-dialog-content>
  <form [formGroup]="formInstance">
    <table>
      <tr>
        <td>
          <mat-label>id</mat-label>
        </td>
        <td>
          <mat-form-field class="fullWidth" appearance="outline">
            <input
              matInput
              type="text"
              name="id"
              formControlName="id"
              [(ngModel)]="id"
              readonly
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-label>name*</mat-label>
        </td>
        <td>
          <mat-form-field class="fullWidth" appearance="outline">
            <input matInput type="text" name="name" formControlName="name" />
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-label>description *</mat-label>
        </td>
        <td>
          <mat-form-field class="fullWidth" appearance="outline">
            <textarea
              matInput
              name="description"
              formControlName="description"
            ></textarea>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-label>date *</mat-label>
        </td>
        <td>
          <mat-form-field class="fullWidth" appearance="outline">
            <input matInput type="text" name="date" formControlName="date" />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>

<div class="mt-5" mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>
    Yes
  </button>
  <button mat-raised-button mat-dialog-close>No</button>
</div>
